.galleryImage {
  display: inline-block;
  width: 100%;
}

.description {
  display: none;
}

img p {
  font-size: large;
}

img:hover {
  transition: all 0.5s ease-in-out;
  width: 100%;
  object-fit: contain;
}
