.h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
.h2 {
  font-size: 1.5em;
  margin: 0.75em 0;
}
.h3 {
  font-size: 1.17em;
  margin: 0.83em 0;
}
.h5 {
  font-size: 0.83em;
  margin: 1.5em 0;
}
.h6 {
  font-size: 0.75em;
  margin: 1.67em 0;
}

.bold {
  font-weight: bold;
}

.bolder {
  font-weight: bolder;
  .underline {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}
.lighter {
  font-weight: lighter;
}
