.footer {
  font-weight: 600;
  size: 18px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 3px;
}
.img {
  flex-shrink: 0;
}
@media (hover: hover) and (pointer: fine) {
  .footer a:hover {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}
